.reveal {
  ul,
  ol {
    display: block;
    list-style-position: inside;
  }
  button,
  label {
    font-size: 24px;
  }
  img {
    height: auto;
  }
}

@for $i from 2 through 5 {
  .col-#{$i} {
    column-count: $i;
    > * {
      break-inside: avoid;
    }
  }
}