.reveal ul,
.reveal ol {
  display: block;
  list-style-position: inside;
}

button {
  font-size: 24px;
}

@for $i from 2 through 5 {
  .col-#{$i} {
    column-count: $i;
    > * {
      break-inside: avoid;
    }
  }
}